src/main/resources/xsd/S100/5.1.0/S100PC/20230327/S100PortrayalCatalog.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- =============================================================================================
	Copyright and License
	Copyright 2013-2017,2018,2022 IHO
	Certain parts of this document may refer to or are based on the standards, documents, schemas, or other material
	of the International Organization for Standardization (ISO), Open Geospatial Consortium (OGC), International
	Hydrographic Organization / Organisation Hydrographique Internationale (IHO/OHI).
	The ISO material can be obtained from any ISO member and from the Web site of the ISO Central Secretariat
	at www.iso.org.
	The OGC material can be obtained from the OGC Web site at www.opengeospatial.org.
	The IHO material can be obtained from the IHO Web site at www.iho.int or from the International Hydrographic
	Organization Secretariat.
	
	Permission to copy and distribute this document is hereby granted provided that this notice is retained
	on all copies, and that the copyright holders and contributors are credited when the material is redistributed or used in
	part or whole in derivative works.
	Redistributions in binary form must reproduce this notice in the documentation and/or other materials
	provided with the distribution.
	
	Disclaimer
	This work is provided by the copyright holders and contributors "as is" and any express or implied warranties,
	including, but not limited to, the implied warranties of merchantability and fitness for a particular purpose
	are disclaimed. In no event shall the copyright owner or contributors be liable for any direct, indirect,
	incidental, special, exemplary, or consequential damages (including, but not limited to, procurement of substitute
	goods or services; loss of use, data, or profits; or business interruption) however caused and on any theory of
	liability, whether in contract, strict liability, or tort (including negligence or otherwise) arising in any way
	out of the use of this software, even if advised of the possibility of such damage.
	================================================================================================== -->
<!-- S-100 Portrayal catalog schema
      Build 20191115 Updated for changes approved at S-100WG4 (See S-100WG4-4.6, 4.7, and 4.8) (2019-11-15)
	  Build 20220331 Updated for S-100 5.0.0. Updated 4/28 with types for alpha-3 language code
		20220705: Updated to add version attribute and change import of S100CSL to relative instead of absolute location, at OEM request
	Version 5.1.0 Build 20230327 Imports updated SymbolDefinition; namespaces added
 -->
<xs:schema
	xmlns="http://www.iho.int/S100PortrayalCatalog/5.1"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:s100Symbol="http://www.iho.int/S100SymbolDefinition/5.1"
	xmlns:s100CSL="http://www.iho.int/s100/csl/5.0"
	targetNamespace="http://www.iho.int/S100PortrayalCatalog/5.1"
	version="5.1.0-20230327">

	<xs:import namespace="http://www.iho.int/s100/csl/5.0"  schemaLocation="../../../5.0.0/S100CSL/20220331/S100CSL.xsd"/>
	<xs:import namespace="http://www.iho.int/S100SymbolDefinition/5.1" schemaLocation="S100SymbolDefinition.xsd"/>

	<!-- Supported type for context parameters -->
	<xs:simpleType name="ParameterType">
		<xs:annotation><xs:documentation>Choice of Parameter Types</xs:documentation></xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Boolean"><xs:annotation><xs:documentation>A Boolean value</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="Integer"><xs:annotation><xs:documentation>An integer number</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="Double"><xs:annotation><xs:documentation>A floating point number</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="String"><xs:annotation><xs:documentation>A character string</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="Date"><xs:annotation><xs:documentation>A date according to the gregorian calendar</xs:documentation></xs:annotation></xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<!-- The type of an external file -->
	<xs:simpleType name="FileType">
		<xs:annotation><xs:documentation>The type of an external file</xs:documentation></xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Font"><xs:annotation><xs:documentation>A font file</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="AreaFill"><xs:annotation><xs:documentation>A file describing an area fill</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="LineStyle"><xs:annotation><xs:documentation>A file describing a line style</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="Symbol"><xs:annotation><xs:documentation>A file describing a symbol</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="ColorProfile"><xs:annotation><xs:documentation>A file describing a colour profile</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="Pixmap"><xs:annotation><xs:documentation>A file describing a pixmap</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="Rule"><xs:annotation><xs:documentation>A file containing portrayal rules</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="StyleSheet"><xs:annotation><xs:documentation>A file containing styles for symbols</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="AlertCatalog"><xs:annotation><xs:documentation>A file containing an Alert Catalogue</xs:documentation></xs:annotation></xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<!-- The format of an external file -->
	<xs:simpleType name="FileFormat">
		<xs:annotation><xs:documentation>The format of an external file</xs:documentation></xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="XML"/>
			<xs:enumeration value="SVG"/>
			<xs:enumeration value="XSLT"/>
			<xs:enumeration value="TTF"/>
			<xs:enumeration value="LUA"/>
			<xs:enumeration value="CSS"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- The type of an template -->
	<xs:simpleType name="RuleType">
		<xs:annotation><xs:documentation>The type of templates within a rule file</xs:documentation></xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="TopLevelTemplate"><xs:annotation><xs:documentation>The rule file contains a top level template</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="SubTemplate"><xs:annotation><xs:documentation>The rule file contains templates that are used or called by other templates</xs:documentation></xs:annotation></xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<!-- Class for descriptive information about a catalogue item -->
	<xs:complexType name="Description">
		<xs:annotation><xs:documentation>Language specific information about an item</xs:documentation></xs:annotation>
		<xs:sequence>
			<xs:element name="name" type="xs:string" minOccurs="0" maxOccurs="1"><xs:annotation><xs:documentation>An optional name of an item in the identified language</xs:documentation></xs:annotation></xs:element>
			<xs:element name="description" type="xs:string"><xs:annotation><xs:documentation>The language specific description of the item</xs:documentation></xs:annotation></xs:element>
			<xs:element name="language" type="s100CSL:languageCode"><xs:annotation><xs:documentation>A language identifier code. ISO 639-2/T alpha-3 code</xs:documentation></xs:annotation></xs:element>
		</xs:sequence>
	</xs:complexType>
	<!-- Abstract base class for catalogue items -->
	<xs:complexType name="CatalogItem" abstract="true">
		<xs:annotation><xs:documentation>An abstract base class for components of the Catalogue</xs:documentation></xs:annotation>
		<xs:sequence>
			<xs:element name="description" type="Description" minOccurs="0" maxOccurs="unbounded"><xs:annotation><xs:documentation>Meta Data common to each Catalogue Item. There can be descriptions in different languages</xs:documentation></xs:annotation></xs:element>
		</xs:sequence>
		<xs:attribute name="id" type="s100Symbol:IdString" use="required"><xs:annotation><xs:documentation>A unique identifier of the Catalogue item</xs:documentation></xs:annotation></xs:attribute>
	</xs:complexType>
	<!-- catalogue item for an external file -->
	<xs:complexType name="ExternalFile">
		<xs:annotation><xs:documentation>A Catalogue item that defines the reference to an external file</xs:documentation></xs:annotation>
		<xs:complexContent>
			<xs:extension base="CatalogItem">
				<xs:sequence>
					<xs:element name="fileName" type="xs:anyURI"><xs:annotation><xs:documentation>The name of the file</xs:documentation></xs:annotation></xs:element>
					<xs:element name="fileType" type="FileType"><xs:annotation><xs:documentation>The type of the file</xs:documentation></xs:annotation></xs:element>
					<xs:element name="fileFormat" type="FileFormat"><xs:annotation><xs:documentation>The format of the file</xs:documentation></xs:annotation></xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- catalogue item for an XSLT rule file -->
	<xs:complexType name="RuleFile">
		<xs:annotation><xs:documentation>Rule file reference</xs:documentation></xs:annotation>
		<xs:complexContent>
			<xs:extension base="ExternalFile">
				<xs:sequence>
					<xs:element name="ruleType" type="RuleType"><xs:annotation><xs:documentation>The type of the templates within the rule file. There can be more than one top level rule which can be selected in an application to allow different portrayal of the data</xs:documentation></xs:annotation></xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- Class for a viewing group -->
	<xs:complexType name="ViewingGroup">
		<xs:annotation><xs:documentation></xs:documentation></xs:annotation>
		<xs:complexContent>
			<xs:extension base="CatalogItem"/>
		</xs:complexContent>
	</xs:complexType>
	<!-- Class for a viewing group layer (an aggregation of viewing groups) -->
	<xs:complexType name="ViewingGroupLayer">
		<xs:annotation><xs:documentation></xs:documentation></xs:annotation>
		<xs:complexContent>
			<xs:extension base="CatalogItem">
				<xs:sequence>
					<xs:element name="viewingGroup" type="s100Symbol:IdString" minOccurs="1" maxOccurs="unbounded"><xs:annotation><xs:documentation></xs:documentation></xs:annotation></xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- Class for a display mode (an aggregation of  viewing group layers) -->
	<xs:complexType name="DisplayMode">
		<xs:annotation><xs:documentation>A set of Viewing Layers to switch on or off in an application</xs:documentation></xs:annotation>
		<xs:complexContent>
			<xs:extension base="CatalogItem">
				<xs:sequence>
					<xs:element name="viewingGroupLayer" type="s100Symbol:IdString" minOccurs="0" maxOccurs="unbounded"><xs:annotation><xs:documentation>Viewing Group Layer included in this Display Mode</xs:documentation></xs:annotation></xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- Class for a display plane -->
	<xs:complexType name="DisplayPlane">
		<xs:annotation><xs:documentation>A Display Plane name and definition</xs:documentation></xs:annotation>
		<xs:complexContent>
			<xs:extension base="CatalogItem">
				<xs:attribute name="order" type="xs:integer" use="required"><xs:annotation><xs:documentation>Definition of a Display Plane</xs:documentation></xs:annotation></xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<!-- Type for labels -->
	<xs:complexType name="TextType">
		<xs:annotation><xs:documentation>Represents a string value</xs:documentation></xs:annotation>
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="language" type="xs:string" default="eng"><xs:annotation><xs:documentation>An ISO 639-2/T alpha-3 language identifier code indicating the national language of the encoded string. Default is “eng“</xs:documentation></xs:annotation></xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>

	<!-- Type for representations of enumerated values -->
	<xs:complexType name="EnumerationType">
		<xs:annotation><xs:documentation>Represents an enumerated value</xs:documentation></xs:annotation>
		<xs:sequence>
			<xs:element name="label" type="TextType" maxOccurs="unbounded" minOccurs="1"><xs:annotation><xs:documentation>A label for the value (for example, “Enabled“)</xs:documentation></xs:annotation></xs:element>
		</xs:sequence>
		<xs:attribute name="value" type="xs:anySimpleType" use="required"><xs:annotation><xs:documentation>The value of the enumeration (for example, “1“)</xs:documentation></xs:annotation></xs:attribute>
		<xs:attribute name="icon" type="s100Symbol:IdString"><xs:annotation><xs:documentation>An icon representing the value. Reference to a catalog symbol</xs:documentation></xs:annotation></xs:attribute>
	</xs:complexType>

	<!-- Type for constraints on control parameters -->
	<xs:complexType name="ConstraintType">
		<xs:annotation><xs:documentation>Constrains the allowed values of a context parameter and provides meaningful names for enumerations</xs:documentation></xs:annotation>
		<xs:sequence>
			<xs:element name="enumeration" type="EnumerationType" maxOccurs="unbounded"><xs:annotation><xs:documentation>Valid values and labels of the constraint</xs:documentation></xs:annotation></xs:element>
		</xs:sequence>
	</xs:complexType>

	<!-- Class for a validation error -->
	<xs:complexType name="ValidationErrorType">
		<xs:annotation><xs:documentation>Class for a validation error</xs:documentation></xs:annotation>
		<xs:sequence>
			<xs:element name="text" type="TextType" maxOccurs="unbounded"><xs:annotation><xs:documentation>Text of an error message in one or more national languages</xs:documentation></xs:annotation></xs:element>
		</xs:sequence>
		<xs:attribute name="icon" type="s100Symbol:IdString"><xs:annotation><xs:documentation>An icon representing the error. Reference to a catalog symbol</xs:documentation></xs:annotation></xs:attribute>
	</xs:complexType>

	<!-- Class for a validation rule -->
	<xs:complexType name="ValidationType">
		<xs:annotation><xs:documentation>Class for a validation rule. Either xpath or regex must be present, but not both</xs:documentation></xs:annotation>
		<xs:sequence>
			<xs:choice>
				<xs:element name="xpath" type="xs:string"><xs:annotation><xs:documentation>An XPath 1.0 Boolean expression</xs:documentation></xs:annotation></xs:element>
				<xs:element name="regex" type="xs:string"><xs:annotation><xs:documentation>A regular expression per W3C XML Standard – Part 2, Appendix F (Regular Expressions)</xs:documentation></xs:annotation></xs:element>
			</xs:choice>
			<xs:element name="errorMessage" type="ValidationErrorType"><xs:annotation><xs:documentation>An error message for the validation</xs:documentation></xs:annotation></xs:element>
		</xs:sequence>
		<xs:attribute name="enable" type="xs:string"><xs:annotation><xs:documentation>XPath 1.0 Boolean expression. Indicates conditional validation (for example, validate NationalLanguage only when populated: ‘‘//NationalLanguage[.!=]‘‘).</xs:documentation></xs:annotation></xs:attribute>
	</xs:complexType>

	<!-- Class for a context parameter -->
	<xs:complexType name="ContextParameter">
		<xs:annotation><xs:documentation>A Context Parameter name and definition</xs:documentation></xs:annotation>
		<xs:complexContent>
			<xs:extension base="CatalogItem">
				<xs:sequence>
					<xs:element name="type" type="ParameterType"><xs:annotation><xs:documentation>The data type of the Parameter</xs:documentation></xs:annotation></xs:element>
					<xs:element name="default" type="xs:anyType"><xs:annotation><xs:documentation>A default value for the Parameter</xs:documentation></xs:annotation></xs:element>
					<xs:element name="constrain" type="ConstraintType" minOccurs="0"><xs:annotation><xs:documentation>Constrains the value domain of the parameter</xs:documentation></xs:annotation></xs:element>
					<xs:element name="validate" type="ValidationType" minOccurs="0" maxOccurs="unbounded"><xs:annotation><xs:documentation>The validation rules for this parameter</xs:documentation></xs:annotation></xs:element>
				</xs:sequence>
				<xs:attribute name="enable" type="xs:string"><xs:annotation><xs:documentation>XPath 1.0 Boolean expression. Used to indicate conditional parameters (for example, ShallowContour is conditional on TwoShades: “//TwoShades=false“)</xs:documentation></xs:annotation></xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Pixmaps">
		<xs:annotation><xs:documentation>A container of pixmap file references</xs:documentation></xs:annotation>
		<xs:sequence>
			<xs:element name="pixmap" type="ExternalFile" minOccurs="0" maxOccurs="unbounded"><xs:annotation><xs:documentation>The file reference. The type is XML</xs:documentation></xs:annotation></xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ColorProfiles">
		<xs:annotation><xs:documentation>A container of colour profile file references</xs:documentation></xs:annotation>
		<xs:sequence>
			<xs:element name="colorProfile" type="ExternalFile" minOccurs="0" maxOccurs="unbounded"><xs:annotation><xs:documentation>The file reference. The type is XML</xs:documentation></xs:annotation></xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Symbols">
		<xs:annotation><xs:documentation>A container of Symbol file references</xs:documentation></xs:annotation>
		<xs:sequence>
			<xs:element name="symbol" type="ExternalFile" minOccurs="0" maxOccurs="unbounded"><xs:annotation><xs:documentation>The file reference. The type is SVG</xs:documentation></xs:annotation></xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="StyleSheets">
		<xs:annotation><xs:documentation>A container of CSS file references</xs:documentation></xs:annotation>
		<xs:sequence>
			<xs:element name="styleSheet" type="ExternalFile" minOccurs="0" maxOccurs="unbounded"><xs:annotation><xs:documentation>The file reference</xs:documentation></xs:annotation></xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="LineStyles">
		<xs:annotation><xs:documentation>A container of Line Style file references</xs:documentation></xs:annotation>
		<xs:sequence>
			<xs:element name="lineStyle" type="ExternalFile" minOccurs="0" maxOccurs="unbounded"><xs:annotation><xs:documentation>The file reference. The type is XML</xs:documentation></xs:annotation></xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AreaFills">
		<xs:annotation><xs:documentation>A container of Area Fill file references</xs:documentation></xs:annotation>
		<xs:sequence>
			<xs:element name="areaFill" type="ExternalFile" minOccurs="0" maxOccurs="unbounded"><xs:annotation><xs:documentation>The file reference. The type is XML.</xs:documentation></xs:annotation></xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Fonts">
		<xs:annotation><xs:documentation>A container for fonts</xs:documentation></xs:annotation>
		<xs:sequence>
			<xs:element name="font" type="ExternalFile" minOccurs="0" maxOccurs="unbounded"><xs:annotation><xs:documentation>The file reference. For true type fonts the type is ttf.</xs:documentation></xs:annotation></xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ViewingGroups">
		<xs:annotation><xs:documentation>A container of Viewing Group definitions</xs:documentation></xs:annotation>
		<xs:sequence>
			<xs:element name="viewingGroup" type="ViewingGroup" minOccurs="1" maxOccurs="unbounded"><xs:annotation><xs:documentation>Definition of a specific Viewing Group</xs:documentation></xs:annotation></xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ViewingGroupLayers">
		<xs:annotation><xs:documentation>A container of Viewing Group Layers</xs:documentation></xs:annotation>
		<xs:sequence>
			<xs:element name="viewingGroupLayer" type="ViewingGroupLayer" minOccurs="0" maxOccurs="unbounded"><xs:annotation><xs:documentation>Definition of a specific Viewing Group layer</xs:documentation></xs:annotation></xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DisplayModes">
		<xs:annotation><xs:documentation>A container of Display Mode definitions</xs:documentation></xs:annotation>
		<xs:sequence>
			<xs:element name="displayMode" type="DisplayMode" minOccurs="0" maxOccurs="unbounded"><xs:annotation><xs:documentation>Definition of a Display Mode</xs:documentation></xs:annotation></xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DisplayPlanes">
		<xs:annotation><xs:documentation>A container of Display Plane definitions</xs:documentation></xs:annotation>
		<xs:sequence>
			<xs:element name="displayPlane" type="DisplayPlane" minOccurs="1" maxOccurs="unbounded"><xs:annotation><xs:documentation>Definition of a Display Plane</xs:documentation></xs:annotation></xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Context">
		<xs:annotation><xs:documentation>A container of Context Parameters</xs:documentation></xs:annotation>
		<xs:sequence>
			<xs:element name="parameter" type="ContextParameter" minOccurs="0" maxOccurs="unbounded"><xs:annotation><xs:documentation>Context Parameter</xs:documentation></xs:annotation></xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="Rules">
		<xs:annotation><xs:documentation>A container of rule file references</xs:documentation></xs:annotation>
		<xs:sequence>
			<xs:element name="ruleFile" type="RuleFile" minOccurs="1" maxOccurs="unbounded"><xs:annotation><xs:documentation>Reference to a file containing rules</xs:documentation></xs:annotation></xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="PortrayalCatalog">
		<xs:annotation><xs:documentation>A container of all the Catalogue items</xs:documentation></xs:annotation>
		<xs:sequence>
			<xs:element name="alertCatalog" type="ExternalFile" minOccurs="0"><xs:annotation><xs:documentation>A file reference to an Alert Catalogue</xs:documentation></xs:annotation></xs:element>
			<xs:element name="pixmaps" type="Pixmaps">
				<xs:annotation><xs:documentation>Container of XML Pixmap file references</xs:documentation></xs:annotation>
				<xs:key name="pixmapKey">
					<xs:selector xpath="pixmap"/>
					<xs:field xpath="@id"/>
				</xs:key>
			</xs:element>
			<xs:element name="colorProfiles" type="ColorProfiles">
				<xs:annotation><xs:documentation>Container of XML Colour Profile file references</xs:documentation></xs:annotation>
				<xs:key name="colorProfileKey">
					<xs:selector xpath="colorProfile"/>
					<xs:field xpath="@id"/>
				</xs:key>
			</xs:element>
			<xs:element name="symbols" type="Symbols">
				<xs:annotation><xs:documentation>Container of SVG Symbol file references</xs:documentation></xs:annotation>
				<xs:key name="symbolKey">
					<xs:selector xpath="symbol"/>
					<xs:field xpath="@id"/>
				</xs:key>
			</xs:element>
			<xs:element name="styleSheets" type="StyleSheets">
				<xs:annotation><xs:documentation>Container of CSS file references</xs:documentation></xs:annotation>
				<xs:key name="styleSheetKey">
					<xs:selector xpath="styleSheet"/>
					<xs:field xpath="@id"/>
				</xs:key>
			</xs:element>
			<xs:element name="lineStyles" type="LineStyles">
				<xs:annotation><xs:documentation>Container of XML Line Style file references</xs:documentation></xs:annotation>
				<xs:key name="lineStyleKey">
					<xs:selector xpath="lineStyle"/>
					<xs:field xpath="@id"/>
				</xs:key>
			</xs:element>
			<xs:element name="areaFills" type="AreaFills">
				<xs:annotation><xs:documentation>Container of XML Area Fill file references</xs:documentation></xs:annotation>
				<xs:key name="areaFillKey">
					<xs:selector xpath="areaFill"/>
					<xs:field xpath="@id"/>
				</xs:key>
			</xs:element>
			<xs:element name="fonts" type="Fonts">
				<xs:annotation><xs:documentation>Container of True Type font references</xs:documentation></xs:annotation>
				<xs:key name="fontKey">
					<xs:selector xpath="font"/>
					<xs:field xpath="@id"/>
				</xs:key>
			</xs:element>
			<xs:element name="viewingGroups" type="ViewingGroups">
				<xs:annotation><xs:documentation>Container of viewing group definitions</xs:documentation></xs:annotation>
				<xs:key name="viewingGroupKey">
					<xs:selector xpath="viewingGroup"/>
					<xs:field xpath="@id"/>
				</xs:key>
			</xs:element>
			<xs:element name="foundationMode">
				<xs:annotation><xs:documentation>The definition of the foundation of the portrayal</xs:documentation></xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="viewingGroup" type="s100Symbol:IdString" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="viewingGroupLayers" type="ViewingGroupLayers">
				<xs:annotation><xs:documentation>Container of viewing group layers.</xs:documentation></xs:annotation>
				<xs:key name="viewingGroupLayerKey">
					<xs:selector xpath="viewingGroupLayer"/>
					<xs:field xpath="@id"/>
				</xs:key>
			</xs:element>
			<xs:element name="displayModes" type="DisplayModes">
				<xs:annotation><xs:documentation>Container of display mode definitions</xs:documentation></xs:annotation>
				<xs:key name="displayModeKey">
					<xs:selector xpath="displayMode"/>
					<xs:field xpath="@id"/>
				</xs:key>
			</xs:element>
			<xs:element name="displayPlanes" type="DisplayPlanes">
				<xs:annotation><xs:documentation>Container of display plane definitions</xs:documentation></xs:annotation>
				<xs:key name="displayPlaneKey">
					<xs:selector xpath="displayPlane"/>
					<xs:field xpath="@id"/>
				</xs:key>
			</xs:element>
			<xs:element name="context" type="Context">
				<xs:annotation><xs:documentation>Container of context parameter definitions</xs:documentation></xs:annotation>
				<xs:key name="contextKey">
					<xs:selector xpath="parameter"/>
					<xs:field xpath="@id"/>
				</xs:key>
			</xs:element>
			<xs:element name="rules" type="Rules">
				<xs:annotation><xs:documentation>Container of rule file references</xs:documentation></xs:annotation>
				<xs:key name="ruleKey">
					<xs:selector xpath="ruleFile"/>
					<xs:field xpath="@id"/>
				</xs:key>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="productId" type="xs:string" use="required"><xs:annotation><xs:documentation>The ID of the product for which the Catalogue is intended</xs:documentation></xs:annotation></xs:attribute>
		<xs:attribute name="version" type="xs:string" use="required"><xs:annotation><xs:documentation>The version of the product the Catalogue is defined for</xs:documentation></xs:annotation></xs:attribute>
	</xs:complexType>
	<!-- THE ROOT ELEMENT -->
	<xs:element name="portrayalCatalog" type="PortrayalCatalog">
		<xs:annotation><xs:documentation>A container of all the Catalogue items</xs:documentation></xs:annotation>
		<!-- KEYREF FOR VIEWING GROUPS -->
		<xs:keyref name="viewingGroupRef" refer="viewingGroupKey">
			<xs:selector xpath="viewingGroupLayers/viewingGroupLayer/viewingGroup|foundationMode/viewingGroup"/>
			<xs:field xpath="."/>
		</xs:keyref>
		<!-- KEYREF FOR VIEWING GROUP LAYERS -->
		<xs:keyref name="viewingGroupLayerRef" refer="viewingGroupLayerKey">
			<xs:selector xpath="displayModes/displayMode/viewingGroupLayer"/>
			<xs:field xpath="."/>
		</xs:keyref>
	</xs:element>
</xs:schema>
