src/main/resources/xsd/S100/5.1.0/S100PC/20230327/S100AlertCatalog.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- © Copyright 2022-2023 International Hydrographic Organisation
License
Certain parts of this document may refer to or be based on the standards, documents, schemas,
or other material of the International Organization for Standardization (ISO), Open Geospatial
Consortium (OGC), International Hydrographic Organization / Organisation Hydrographique
Internationale (IHO/OHI).
The ISO material can be obtained from any ISO member and from the Web site of the ISO Central
Secretariat at www.iso.org.
The OGC material can be obtained from the OGC Web site at www.opengeospatial.org.
The IHO material can be obtained from the IHO Web site at www.iho.int or from the International
Hydrographic Organization Secretariat.

Permission to copy and distribute this document is hereby granted provided that this notice is
retained on all copies, and that the IHO is credited when the material is redistributed
or used in part or whole in derivative works.
Redistributions in binary form must reproduce this notice in the documentation and/or other
materials provided with the distribution.

Disclaimer
This work is provided by the copyright holders and contributors "as is" and any express or implied
warranties, including, but not limited to, the implied warranties of merchantability and fitness
for a particular purpose are disclaimed. In no event shall the copyright owner or contributors be
liable for any direct, indirect, incidental, special, exemplary, or consequential damages (including,
but not limited to, procurement of substitute goods or services; loss of use, data, or profits; or
business interruption) however caused and on any theory of liability, whether in contract, strict
liability, or tort (including negligence or otherwise) arising in any way out of the use of this
software, even if advised of the possibility of such damage.
-->
<!--
	Version 5.0.0 Build 20220331 First formal release of the alerts catalogue, for S-100 Edition 5.0.0.
		Contributors: NIWC (DG); Edited by Portolan Sciences LLC (RMM)
		Updated 4/28 with alpha-3 language code
	20220705: Updated to add version attribute and change import of S100CSL to relative instead of absolute location at OEM request
	Version 5.1.0 Build 20230327 highlight style added; imports updated SymbolDefinition; namespace added
-->
<!-- Alert Catalogue Schema -->
<xs:schema
	xmlns="http://www.iho.int/S100AlertCatalog/5.1"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:s100CSL="http://www.iho.int/s100/csl/5.0"
	xmlns:s100PC="http://www.iho.int/S100PortrayalCatalog/5.1"
	targetNamespace="http://www.iho.int/S100AlertCatalog/5.1"
	xmlns:s100Symbol="http://www.iho.int/S100SymbolDefinition/5.1"
	version="5.1.0-20230327">
	<xs:import namespace="http://www.iho.int/S100PortrayalCatalog/5.1" schemaLocation="S100PortrayalCatalog.xsd"/>
	<xs:import namespace="http://www.iho.int/s100/csl/5.0"  schemaLocation="../../../5.0.0/S100CSL/20220331/S100CSL.xsd"/>
	<xs:import namespace="http://www.iho.int/S100SymbolDefinition/5.1" schemaLocation="S100SymbolDefinition.xsd"/>
	
	<!-- MESSAGES -->

	<xs:complexType name="Text">
		<xs:annotation><xs:documentation>Language specific string</xs:documentation></xs:annotation>
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="language" type="s100CSL:languageCode" default="eng"><xs:annotation><xs:documentation>Identifies a language, default is eng. ISO 639-2/T alpha-3 code</xs:documentation></xs:annotation></xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	
	<xs:complexType name="MessageItem">
		<xs:annotation><xs:documentation>Defines a language independent message</xs:documentation></xs:annotation>
		<xs:complexContent>
			<xs:extension base="s100PC:CatalogItem">
				<xs:sequence>
					<!-- Localization support -->
					<xs:element name="text" type="Text" maxOccurs="unbounded"><xs:annotation><xs:documentation>Language specific text</xs:documentation></xs:annotation></xs:element>
				</xs:sequence>
				<!-- A reference to a symbol in the portrayal catalogue. Use as an icon to display with or instead of the message. -->
				<!-- If only the icon is shown a method should be provided for the user to see the message, e.g. by hovering over the icon. -->
				<xs:attribute name="icon" type="s100Symbol:IdString"><xs:annotation><xs:documentation>Reference to a symbol in the Portrayal Catalogue</xs:documentation></xs:annotation></xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="Messages">
		<xs:annotation><xs:documentation>A container of MessageItems</xs:documentation></xs:annotation>
		<xs:sequence>
			<xs:element name="message" type="MessageItem" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation><xs:documentation>Definition of a message</xs:documentation></xs:annotation>
				<xs:key name="textLanguageKey">
					<xs:selector xpath="text"/>
					<xs:field xpath="@language"/>
				</xs:key>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
	<!-- END MESSAGES -->
	
	<!-- HIGHLIGHT CONTROL -->

	<xs:simpleType name="HighlightStyle">
		<xs:annotation>
			<xs:documentation>Defines the possible graphical highlight tyles for an alert</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="AlarmHighlight">
				<!-- IEC 62288:2014 Table A.3 Navigation symbols, entry 3.5 b -->
				<xs:annotation>
					<xs:documentation>red highlight (IEC 62288:2014 Table A.3 Navigation symbols, entry 3.5 b)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CautionHighlight">
				<!-- IEC 62288:2014 Table A.3 Navigation symbols, entry 3.5 c -->
				<xs:annotation>
					<xs:documentation>yellow highlight (IEC 62288:2014 Table A.3 Navigation symbols, entry 3.5 c)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	
	<!-- Associates one or more viewing groups with alert information -->
	<xs:complexType name="GraphicalHighlighting">
		<xs:annotation><xs:documentation>Associates viewing groups with alert information</xs:documentation></xs:annotation>
		<xs:complexContent>
			<xs:extension base="s100PC:CatalogItem">
				<xs:sequence>
					<!-- References one or more viewing groups (used to enable / disable graphical highlights) -->
					<xs:element name="viewingGroup" maxOccurs="unbounded">
						<xs:annotation><xs:documentation>References viewing groups used to control graphical highlighting</xs:documentation></xs:annotation>
						<xs:complexType><xs:annotation><xs:documentation>A reference to a viewing group</xs:documentation></xs:annotation>
							<xs:attribute name="ref" type="s100Symbol:IdString" use="required"><xs:annotation><xs:documentation>The identifier of the viewing group</xs:documentation></xs:annotation></xs:attribute>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
				<!-- The style of the graphical information shown is in the chart area. Note that the Alert priority will not necessarily match the highlighting style For instance, the S-101 Safety contour
							highlight when triggered by a route plan will have a priority of Indication, not a priority of AlarmHighlight. -->
				<xs:attribute name="style" type="HighlightStyle"><xs:annotation><xs:documentation>Defines the possible graphical highlight styles for an alert</xs:documentation></xs:annotation></xs:attribute>
				<!-- Indicates whether allowing the highlight to be turned off is required -->
				<xs:attribute name="optional" type="xs:boolean" default="false"><xs:annotation><xs:documentation>Allowing the highlight to be turned off is not required.
					Default is false</xs:documentation></xs:annotation></xs:attribute>
				<!-- A reference to a message to be displayed while any of the viewing groups are disabled -->
				<xs:attribute name="msg" type="s100Symbol:IdString"><xs:annotation><xs:documentation>A reference to a message to be displayed while any
					of the viewing groups are disabled</xs:documentation></xs:annotation></xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<!-- A list of graphical highlight controls -->
	<xs:complexType name="Highlights">
		<xs:annotation><xs:documentation>A container of GraphicalHighlighting items</xs:documentation></xs:annotation>
		<xs:sequence>
			<xs:element name="highlight" type="GraphicalHighlighting" minOccurs="0" maxOccurs="unbounded"><xs:annotation><xs:documentation>Definition of a highlight</xs:documentation></xs:annotation></xs:element>
		</xs:sequence>
	</xs:complexType>
	
	<!-- END HIGHLIGHT CONTROL -->
	
	<!-- ALERTS -->

	<!-- Defines the possible priorities for an alert. Indications are included here for convenience. -->
	<xs:simpleType name="AlertPriority">
		<xs:annotation><xs:documentation>The priority of an alert</xs:documentation></xs:annotation>
		<xs:restriction base="xs:string">
			<!-- IMO A.1021(26) 3.1
			     An alarm which indicates that immediate danger to human life or to the ship and its machinery exists and that immediate action should be taken. -->
			<!-- EmergencyAlarm is unused by S-100 -->
			<!-- <xs:enumeration value="EmergencyAlarm"/> -->
			<!-- MSC.252(83) 19.1.2
			     Indicates conditions requiring immediate attention and action by the bridge team. -->
			<xs:enumeration value="Alarm"><xs:annotation><xs:documentation>Indicates conditions requiring immediate attention and action by the bridge team (refer
				to MSC.252(83) 19.1.2)</xs:documentation></xs:annotation></xs:enumeration>
			<!-- MSC.252(83) 19.1.3
			     Indicates changed conditions and should be presented for precautionary reasons which are not
			     immediately hazardous but which may become so, if no action is taken. -->
			<!-- Note: Warnings are automatically promoted to alarms if not responded to within a set time -->
			<xs:enumeration value="Warning"><xs:annotation><xs:documentation>Indicates changed conditions and should be presented for precautionary reasons
				which are not immediately hazardous but which may become so, if no action is taken
				(refer to MSC.252(83) 19.1.3)</xs:documentation></xs:annotation></xs:enumeration>
			<!-- MSC.252(83) 19.1.4
			     Indicates a condition which does not warrant an alarm or warning condition, but still requires
			     attention and out of the ordinary consideration of the situation or of given information. -->
			<xs:enumeration value="Caution"><xs:annotation><xs:documentation>Indicates a condition which does not warrant an alarm or warning condition, but still
				requires attention and out of the ordinary consideration of the situation or of given
				information (refer to MSC.252(83) 19.1.4)</xs:documentation></xs:annotation></xs:enumeration>
			<!-- MSC.252(83) appendix 1
			     Display of regular information and conditions. -->
			<xs:enumeration value="Indication"><xs:annotation><xs:documentation>Display of regular information and conditions (refer to MSC.252(83) appendix 1)</xs:documentation></xs:annotation></xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	
	<!-- A set of alert priorities -->
	<xs:complexType name="AlertPriorities">
		<xs:annotation><xs:documentation>A set of alert priorities</xs:documentation></xs:annotation>
		<xs:sequence>
			<xs:element name="priority" minOccurs="2" maxOccurs="unbounded">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="AlertPriority">
							<xs:attribute name="default" type="xs:boolean" default="false"><xs:annotation><xs:documentation>Identifies the default priority selection. Default is
								false</xs:documentation></xs:annotation></xs:attribute>
							<!-- Indicates whether allowing the user to choose this priority is optional -->
							<xs:attribute name="optional" type="xs:boolean" default="false"><xs:annotation><xs:documentation>Indicates allowing the user to choose this priority is
								optional. Default is false</xs:documentation></xs:annotation></xs:attribute>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<!-- Reference to a message used to label the UI component which allows selection of the alert priority -->
		<xs:attribute name="label" type="s100Symbol:IdString" use="required"><xs:annotation><xs:documentation>Reference to a message used to label the UI component which allows selection of the desired alert priority</xs:documentation></xs:annotation></xs:attribute>
	</xs:complexType>

	<!-- The information associated with an alert -->
	<xs:complexType name="AlertInfo">
		<xs:annotation><xs:documentation>The behavior of an alert in a single mode</xs:documentation></xs:annotation>
		<xs:sequence>
			<!-- A single alert priority or a set from which the user can select -->
			<xs:choice>
				<xs:element name="priority" type="AlertPriority"><xs:annotation><xs:documentation>A single alert priority. If present, precludes use of priorities</xs:documentation></xs:annotation></xs:element>
				<xs:element name="priorities" type="AlertPriorities"><xs:annotation><xs:documentation>A set of alert priorities. If present, precludes use of priority</xs:documentation></xs:annotation></xs:element>
			</xs:choice>
		</xs:sequence>
		<!-- Reference to a message to display when the alert is active -->
		<xs:attribute name="msg" type="s100Symbol:IdString" use="required"><xs:annotation><xs:documentation>Message</xs:documentation></xs:annotation></xs:attribute>
		<!-- ViewingGroupReference used to turn the graphical highlighting on or off -->
		<xs:attribute name="highlight" type="s100Symbol:IdString"><xs:annotation><xs:documentation>Highlight</xs:documentation></xs:annotation></xs:attribute>
	</xs:complexType>
	
	<!-- An alert instance -->
	<xs:complexType name="AlertItem">
		<xs:annotation><xs:documentation>The alert behavior in route monitoring</xs:documentation></xs:annotation>
		<!-- Content model includes either routeMonitor and optionally routePlan, or just routePlan -->
		<xs:complexContent>
			<xs:extension base="s100PC:CatalogItem">
				<xs:choice>
					<xs:sequence>
						<xs:element name="routeMonitor" type="AlertInfo"><xs:annotation><xs:documentation>The alert behavior in route monitoring</xs:documentation></xs:annotation></xs:element>
						<xs:element name="routePlan" type="AlertInfo" minOccurs="0"><xs:annotation><xs:documentation>The alert behavior in route planning</xs:documentation></xs:annotation></xs:element>
					</xs:sequence>
					<xs:element name="routePlan" type="AlertInfo"><xs:annotation><xs:documentation>The alert behavior in route planning</xs:documentation></xs:annotation></xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<!-- A list of alerts -->
	<xs:complexType name="Alerts">
		<xs:annotation><xs:documentation>A container of AlertItems</xs:documentation></xs:annotation>
		<xs:sequence>
			<xs:element name="alert" type="AlertItem" minOccurs="0" maxOccurs="unbounded"><xs:annotation><xs:documentation>Definition of an alert</xs:documentation></xs:annotation></xs:element>
		</xs:sequence>
	</xs:complexType>
	
	<!-- END ALERTS -->
	
	<!-- Container of the alert catalog components -->
	<xs:complexType name="AlertCatalog">
		<xs:annotation><xs:documentation>A container of all the Catalogue items</xs:documentation></xs:annotation>
		<xs:sequence>
			<xs:element name="messages" type="Messages">
				<xs:annotation><xs:documentation>Container of messages</xs:documentation></xs:annotation>
				<!-- Ensure unique keys -->
				<xs:key name="messageKey">
					<xs:selector xpath="message"/>
					<xs:field xpath="@id"/>
				</xs:key>
			</xs:element>
			<xs:element name="highlights" type="Highlights">
				<xs:annotation><xs:documentation>Container of highlights</xs:documentation></xs:annotation>
				<!-- Ensure unique keys -->
				<xs:key name="highlightKey">
					<xs:selector xpath="highlight"/>
					<xs:field xpath="@id"/>
				</xs:key>
			</xs:element>
			<xs:element name="alerts" type="Alerts">
				<xs:annotation><xs:documentation>A container of AlertItems</xs:documentation></xs:annotation>
				<!-- Ensure unique keys -->
				<xs:key name="alertKey">
					<xs:selector xpath="alert"/>
					<xs:field xpath="@id"/>
				</xs:key>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="version" type="xs:string" use="required"><xs:annotation><xs:documentation>The version of the Catalogue</xs:documentation></xs:annotation></xs:attribute>
	</xs:complexType>

	<!-- The root element -->
	<xs:element name="alertCatalog" type="AlertCatalog"><xs:annotation><xs:documentation>A container of all the Catalogue items</xs:documentation></xs:annotation></xs:element>
</xs:schema>