src/main/resources/xsd/S100/5.1.0/S100PC/20230327/S100Presentation.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- © Copyright 2011-2018, 2019, 2022-2023 International Hydrographic Organisation
License
Certain parts of this document may refer to or be based on the standards, documents, schemas,
or other material of the International Organization for Standardization (ISO), Open Geospatial
Consortium (OGC), International Hydrographic Organization / Organisation Hydrographique
Internationale (IHO/OHI).
The ISO material can be obtained from any ISO member and from the Web site of the ISO Central
Secretariat at www.iso.org.
The OGC material can be obtained from the OGC Web site at www.opengeospatial.org.
The IHO material can be obtained from the IHO Web site at www.iho.int or from the International
Hydrographic Organization Secretariat.

Permission to copy and distribute this document is hereby granted provided that this notice is
retained on all copies, and that the IHO is credited when the material is redistributed
or used in part or whole in derivative works.
Redistributions in binary form must reproduce this notice in the documentation and/or other
materials provided with the distribution.

Disclaimer
This work is provided by the copyright holders and contributors "as is" and any express or implied
warranties, including, but not limited to, the implied warranties of merchantability and fitness
for a particular purpose are disclaimed. In no event shall the copyright owner or contributors be
liable for any direct, indirect, incidental, special, exemplary, or consequential damages (including,
but not limited to, procurement of substitute goods or services; loss of use, data, or profits; or
business interruption) however caused and on any theory of liability, whether in contract, strict
liability, or tort (including negligence or otherwise) arising in any way out of the use of this
software, even if advised of the possibility of such damage.
-->
<!-- Version 5.0.0 build 20220331 Updated for changes to Parts 1 and 9. Namespaces updated.
20220705: Updated to add version attribute and change import of S100CSL to relative instead of absolute
			location, at OEM request
	Version 5.1.0 Build 20230327 Imports updated SymbolDefinition; documentation added; old experimental commented-out material removed
-->
<xs:schema xmlns="http://www.iho.int/S100Presentation/5.1"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:s100Symbol="http://www.iho.int/S100SymbolDefinition/5.1"
  xmlns:s100CSL="http://www.iho.int/s100/csl/5.0" 
  targetNamespace="http://www.iho.int/S100Presentation/5.1" attributeFormDefault="qualified" version="5.1.0-20230327">
	<xs:import namespace="http://www.iho.int/S100SymbolDefinition/5.1" schemaLocation="S100SymbolDefinition.xsd"/>
	<xs:import namespace="http://www.iho.int/s100/csl/5.0" schemaLocation="../../../5.0.0/S100CSL/20220331/S100CSL.xsd"/>
	
	<!-- Simple non empty alpha numeric string type for references -->
	<xs:simpleType name="Reference">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:pattern value="[0-9a-zA-Z_]*"/>
		</xs:restriction>
	</xs:simpleType>
	
	<!-- Class Spatial Reference -->
	<xs:complexType name="SpatialReference">
		<xs:annotation><xs:documentation>A reference to a spatial type</xs:documentation></xs:annotation>
		<xs:simpleContent>
			<xs:extension base="Reference">
				<xs:attribute name="forward" type="xs:boolean" default="true"><xs:annotation><xs:documentation>If true the spatial object is used in the direction in which it is stored in the data. Only applies to curves</xs:documentation></xs:annotation></xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	
	<!-- Class AlertReference -->
	<xs:complexType name="AlertReference">
		<xs:annotation><xs:documentation>A reference to an alert in the Alert Catalogue</xs:documentation></xs:annotation>
		<xs:simpleContent>
			<xs:extension base="Reference">
				<xs:attribute name="plan" type="xs:string"><xs:annotation><xs:documentation>The viewing group the alert highlight is assigned to when active in route planning</xs:documentation></xs:annotation></xs:attribute>
				<xs:attribute name="monitor" type="xs:string"><xs:annotation><xs:documentation>The viewing group the alert highlight is assigned to when active in route monitoring</xs:documentation></xs:annotation></xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>

	<!-- Class DrawingInstruction -->
	<xs:complexType name="DrawingInstruction" abstract="true">
		<xs:annotation>
			<xs:documentation>Abstract base class for all drawing instructions</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="featureReference" type="Reference">
				<xs:annotation>
					<xs:documentation>The reference to the feature type that will be depicted by the instruction</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="spatialReference" type="SpatialReference" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>The reference(s) to the spatial type components of the feature that defines the geometry used for the depiction. Not used when the entire geometry of the feature should be depicted</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="timeValid" type="s100CSL:S100_TM_Period" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>The drawing instruction is valid during the specified time interval(s)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="alertReference" type="AlertReference" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The reference to the alert in the Alert Catalogue that is triggered by the geometry of the instruction</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="viewingGroup" type="xs:string" minOccurs="1" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>The Viewing Group(s) the instruction is assigned to. Instruction is disabled if any Viewing Group is disabled</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="displayPlane" type="xs:string">
				<xs:annotation>
					<xs:documentation>The display plane the instruction is assigned to</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="drawingPriority" type="xs:int">
				<xs:annotation>
					<xs:documentation>The priority that defines the order of drawing</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="scaleMinimum" type="xs:positiveInteger" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Scale denominator to define the minimum scale for which the instruction will be shown.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="scaleMaximum" type="xs:positiveInteger" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Scale denominator to define the maximum scale for which the instruction will be shown.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<!-- Used to identify a drawing instruction which may have children. May be shared in the case of multiple parents. -->
		<xs:attribute name="id" type="Reference">
			<xs:annotation>
				<xs:documentation>An identifier for the drawing instruction</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<!-- Visibility of this instruction and any children is conditional on visibility of the parent -->
		<xs:attribute name="parentId" type="Reference">
			<xs:annotation>
				<xs:documentation>Instruction is dependent on parent drawing
			instruction(s). If no referenced instructions are
			executed during rendering then this instruction
			should not be executed.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<!-- When true, OEM may optionally show the instruction only on hover-over -->
		<xs:attribute name="hover" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>Specifies whether the instruction is shown only on hover-over.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	
	<!-- Class NullInstruction -->
	<xs:complexType name="NullInstruction">
		<xs:annotation><xs:documentation>An instruction that indicates that no portrayal is required for the referenced feature</xs:documentation></xs:annotation>
		<xs:complexContent>
			<xs:extension base="DrawingInstruction"/>
		</xs:complexContent>
	</xs:complexType>
	<!-- Class pointInstruction -->
	<xs:complexType name="PointInstruction">
		<xs:annotation><xs:documentation>A drawing instruction for point symbol</xs:documentation></xs:annotation>
		<xs:complexContent>
			<xs:extension base="DrawingInstruction">
				<xs:sequence>
					<xs:element name="symbol" type="s100Symbol:Symbol"><xs:annotation><xs:documentation>The symbol to be depicted</xs:documentation></xs:annotation></xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- Class Area Instruction -->
	<xs:complexType name="AreaInstruction">
		<xs:annotation><xs:documentation>A drawing instruction for area geometry</xs:documentation></xs:annotation>
		<xs:complexContent>
			<xs:extension base="DrawingInstruction">
				<xs:sequence>
					<xs:group ref="s100Symbol:AreaFillGroup"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- Class LineInstruction -->
	<xs:complexType name="LineInstruction">
		<xs:annotation><xs:documentation>A drawing instruction for line geometry</xs:documentation></xs:annotation>
		<xs:complexContent>
			<xs:extension base="DrawingInstruction">
				<xs:sequence>
					<xs:group ref="s100Symbol:LineStyleGroup"/>
				</xs:sequence>
				<xs:attribute name="suppression" type="xs:boolean" default="true"><xs:annotation><xs:documentation>Whether another line instruction of higher priority can suppress the drawing of this line instruction</xs:documentation></xs:annotation></xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- Class TextInstruction -->
	<xs:complexType name="TextInstruction">
		<xs:annotation><xs:documentation>A drawing instruction for depicting text</xs:documentation></xs:annotation>
		<xs:complexContent>
			<xs:extension base="DrawingInstruction">
				<xs:sequence>
					<xs:group ref="s100Symbol:Text"><xs:annotation><xs:documentation>The text to be depicted</xs:documentation></xs:annotation></xs:group>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- Class CoverageInstruction -->
	<xs:complexType name="CoverageInstruction">
		<xs:annotation><xs:documentation>A drawing instruction for depicting coverages of data</xs:documentation></xs:annotation>
		<xs:complexContent>
			<xs:extension base="DrawingInstruction">
				<xs:sequence>
					<xs:element name="coverageFill" type="s100Symbol:CoverageFill"><xs:annotation><xs:documentation>The coverage fill used for depiction</xs:documentation></xs:annotation></xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- Class AugmentedGeometry -->
	<xs:complexType name="AugmentedGeometry" abstract="true">
		<xs:annotation><xs:documentation>A base class for drawing instructions that uses geometry not available in the dataset. The geometry is generated by the portrayal functions according to a defined CRS</xs:documentation></xs:annotation>
		<xs:complexContent>
			<xs:extension base="DrawingInstruction">
				<xs:sequence>
					<xs:element name="crs" type="s100Symbol:CRSType"><xs:annotation><xs:documentation>The coordinate reference system of the generated geometry.</xs:documentation></xs:annotation></xs:element>
					<xs:group ref="s100Symbol:Text" minOccurs="0" maxOccurs="1"><xs:annotation><xs:documentation>A text to be depicted by the instruction. The rules for text apply depending on the type of geometry used by the instruction</xs:documentation></xs:annotation></xs:group>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- Class AugmentedPoint -->
	<xs:complexType name="AugmentedPoint">
		<xs:annotation><xs:documentation>A drawing instruction for a point symbol where the position is not given by the feature type</xs:documentation></xs:annotation>
		<xs:complexContent>
			<xs:extension base="AugmentedGeometry">
				<xs:sequence>
					<xs:element name="position" type="s100Symbol:Point"><xs:annotation><xs:documentation>The position of the symbol</xs:documentation></xs:annotation></xs:element>
					<xs:element name="symbol" type="s100Symbol:Symbol" minOccurs="0" maxOccurs="1"><xs:annotation><xs:documentation>The symbol to be depicted</xs:documentation></xs:annotation></xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- Class AugmentedLineOrArea -->
	<xs:complexType name="AugmentedLineOrArea" abstract="true">
		<xs:annotation><xs:documentation>A base class for linear augmented geometry</xs:documentation></xs:annotation>
		<xs:complexContent>
			<xs:extension base="AugmentedGeometry">
				<xs:sequence>
					<xs:group ref="s100Symbol:LineStyleGroup" minOccurs="0" maxOccurs="1"><xs:annotation><xs:documentation>The line style to be depicted</xs:documentation></xs:annotation></xs:group>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- Class AugmentedRay -->
	<xs:complexType name="AugmentedRay">
		<xs:annotation><xs:documentation>A drawing instruction that defines a line from the position of a point feature to another position. The position is defined by the direction and the length attributes. It can be used for drawing line styles or line texts</xs:documentation></xs:annotation>
		<xs:complexContent>
			<xs:extension base="AugmentedLineOrArea">
				<xs:sequence>
					<xs:element name="rotationCRS" type=" s100Symbol:CRSType" minOccurs="0"><xs:annotation><xs:documentation>If present, specifies the CRS for direction</xs:documentation></xs:annotation></xs:element>
					<xs:element name="direction" type="xs:double"><xs:annotation><xs:documentation>The direction of the ray relative to the used CRS</xs:documentation></xs:annotation></xs:element>
					<xs:element name="length" type="xs:double"><xs:annotation><xs:documentation>The length of the ray. The units depending on the used CRS</xs:documentation></xs:annotation></xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- Class AugmentedPath -->
	<xs:complexType name="AugmentedPath">
		<xs:annotation><xs:documentation>A drawing instruction for a line. It can be used for drawing line styles or line texts</xs:documentation></xs:annotation>
		<xs:complexContent>
			<xs:extension base="AugmentedLineOrArea">
				<xs:sequence>
					<xs:element name="path" type="s100Symbol:Path"><xs:annotation><xs:documentation>The path defining the line geometry</xs:documentation></xs:annotation></xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- Class AugmentedArea -->
	<xs:complexType name="AugmentedArea">
		<xs:annotation><xs:documentation>A drawing instruction for an area. It can be used
			for drawing line styles, area fills, or area texts. The
			used path must be closed</xs:documentation></xs:annotation>
		<xs:complexContent>
			<xs:extension base="AugmentedPath">
				<xs:sequence>
					<xs:group ref="s100Symbol:AreaFillGroup" minOccurs="0" maxOccurs="1"><xs:annotation><xs:documentation>The area fill to be depicted</xs:documentation></xs:annotation></xs:group>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- Group DisplayInstruction -->
	<xs:group name="DisplayInstruction">
		<xs:choice>
			<xs:element name="nullInstruction" type="NullInstruction"><xs:annotation><xs:documentation>An instruction that indicates that no portrayal is
				required for the referenced feature</xs:documentation></xs:annotation></xs:element>
			<xs:element name="pointInstruction" type="PointInstruction"><xs:annotation><xs:documentation>A drawing instruction for point symbol</xs:documentation></xs:annotation></xs:element>
			<xs:element name="lineInstruction" type="LineInstruction"><xs:annotation><xs:documentation>A drawing instruction for line geometry</xs:documentation></xs:annotation></xs:element>
			<xs:element name="areaInstruction" type="AreaInstruction"><xs:annotation><xs:documentation>A drawing instruction for area geometry</xs:documentation></xs:annotation></xs:element>
			<xs:element name="coverageInstruction" type="CoverageInstruction"><xs:annotation><xs:documentation>A drawing instruction for depicting coverages
				of data</xs:documentation></xs:annotation></xs:element>
			<xs:element name="textInstruction" type="TextInstruction"><xs:annotation><xs:documentation>A drawing instruction for depicting text</xs:documentation></xs:annotation></xs:element>
			<xs:element name="augmentedPoint" type="AugmentedPoint"><xs:annotation><xs:documentation>A drawing instruction for a point symbol where the
				position is not given by the feature type</xs:documentation></xs:annotation></xs:element>
			<xs:element name="augmentedRay" type="AugmentedRay"><xs:annotation><xs:documentation>A drawing instruction that defines a line from the
				position of a point feature to another position.</xs:documentation></xs:annotation></xs:element>
			<xs:element name="augmentedPath" type="AugmentedPath"><xs:annotation><xs:documentation>A drawing instruction for a line. It can be used for
				drawing line styles or line texts</xs:documentation></xs:annotation></xs:element>
			<xs:element name="augmentedArea" type="AugmentedArea"><xs:annotation><xs:documentation>A drawing instruction for an area. It can be used for drawing line styles, area fills, or area texts. The used path must be closed</xs:documentation></xs:annotation></xs:element>
		</xs:choice>
	</xs:group>
	<!-- Class DisplayList -->
	<xs:complexType name="DisplayList">
		<xs:annotation><xs:documentation>A ordered set of Drawing Instructions</xs:documentation></xs:annotation>
		<xs:sequence>
			<xs:group ref="DisplayInstruction" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation><xs:documentation>An instruction of this list</xs:documentation></xs:annotation>
			</xs:group>
		</xs:sequence>
	</xs:complexType>
	<!-- An element of type DisplayList -->
	<xs:element name="displayList" type="DisplayList"/>
</xs:schema>
